:root {
  --page-bg-color: #f6f6f7;
  --text-color-secondary: #424242;
  --text-color-primary: #0284c7;
  --btn-bg-primary-color1: rgb(14, 165, 233);
  --btn-bg-primary-color2: rgb(2, 132, 199);


  --error-text-color:#ff4757;
}

$bg-primary: var(--page-bg-color);
$text-secondary: var(--text-color-secondary);
$text-primary: var(--text-color-primary);

$error-text-color:var(--error-text-color);


$btn-primary-color: linear-gradient(to right bottom, var(--btn-bg-primary-color1), var(--btn-bg-primary-color2));